:root {
    --background-color: #ecf1e1;
    /* alabaster */
    --primary-color: #62A87C;
    /* mint */
    --compl-color-1: #FED766;
    /* mustard */
    --compl-color-2: #89BE9C;
    /* cambridge blue */
    --compl-color-3: #509168;
    /* sea green */
    --constrast-color-1: #523E79;
    /* russian violet */
    --contrast-color-2: #987D7C;
    /* cinereous */
    --contrast-color-2: #725B6E;
    /* chinese violet */
    --typeface-color: #083632;
    /* dark green */
}

* {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
}



/* 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
*/