:root {
    --background-color: #ecf1e1;
    /* alabaster */
    --primary-color: #62A87C;
    /* mint */
    --compl-color-1: #FED766;
    /* mustard */
    --compl-color-2: #89BE9C;
    /* cambridge blue */
    --compl-color-3: #509168;
    /* sea green */
    --constrast-color-1: #523E79;
    /* russian violet */
    --contrast-color-2: #987D7C;
    /* cinereous */
    --contrast-color-2: #725B6E;
    /* chinese violet */
    --typeface-color: #083632;
    /* dark green */
}

* {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--typeface-color);
}

ul {
    list-style-type: none;
    /* removes bullets from lists */
}

.page-banner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    /* vertically align children */
}

.page-banner img {
    margin: 1rem;
}

/* nav */
#hamburger::before {
    content: "☰";
    font-size: xx-large;
}

#hamburger.open::before {
    content: "✖️";
}

#hamburger {
    border: none;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

nav a {
    text-decoration: none;
    /* removes underline from links */
}

.active::after {
    content: " 📍";
    /* wayfinding symbol */
}

/* 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
*/