:root {
    --background-color: #ecf1e1;
    /* alabaster */
    --primary-color: #62A87C;
    /* mint */
    --compl-color-1: #f9da7e;
    /* mustard */
    --compl-color-2: #89BE9C;
    /* cambridge blue */
    --compl-color-3: #509168;
    /* sea green */
    --constrast-color-1: #523E79;
    /* russian violet */
    --contrast-color-2: #987D7C;
    /* cinereous */
    --contrast-color-2: #725B6E;
    /* chinese violet */
    --typeface-color: #083632;
    /* dark green */
}

* {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--typeface-color);
    list-style-type: none;
    /* removes bullets from list */
}

a {
    text-decoration: none;
}

.page-banner {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 auto;
    align-items: center;
    /* vertically align children */
    justify-content: space-evenly;
    font-size: clamp(1rem, 2vw, 2rem);
    /* font-size grows responsively */
    background-color: var(--primary-color);
}

.page-banner * {
    background-color: var(--primary-color);
}

.page-banner img {
    margin: 1rem;
}

/* hamburger button */
#hamburger::before {
    content: "☰";
    font-size: xx-large;
}

#hamburger.open::before {
    content: "✖️";
}

#hamburger {
    border: none;
}

/* sleek responsive nav */
nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

nav a {
    text-decoration: none;
    /* removes underline from links */
}

nav li:hover,
nav li:hover a {
    background-color: var(--compl-color-3);
    color: #fff;
}

.active::after {
    content: " 📍";
    /* wayfinding symbol */
}

footer,
footer * {
    background-color: var(--compl-color-1);
}

/* actual menu items ie: the ul */
#main-menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#main-menu a {
    display: block;
    padding: 1rem;
    margin: 0.25rem;
}

/* 
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
*/

/* media queries */
@media (min-width: 768px) {
    nav {
        grid-template-rows: 1fr;
    }

    #main-menu {
        flex-direction: row;
        justify-content: space-around;
        /* keeps menu in the center of the page */

    }

    #main-menu a {
        margin: 1rem;
        font-size: clamp(1rem, 2vw, 2rem);
        /* menu font-size will responsively grow */
    }

    #hamburger {
        display: none;
    }
}