/*
https://coolors.co/f5f7fa-3e236e-7d82b8-236e26-d6d84f
*/

:root {
    --main-font: "Lato", serif;
    --background-color: #F5F7FA;
    --member-card-bkgd: #dfe2e5;
    --nav-bkgd-color: #3E236E;
    --bkgd-hover-color: #7D82B8;
    --secondary-color: #236E26;
    --secondary-accent: #add84f;
    --special-font: "Passion One", serif;
}

* {
    background-color: var(--background-color);
}

body {
    font-family: var(--main-font);
}

header,
.page-banner,
h1 {
    background-color: var(--nav-bkgd-color);
    color: #fff;
}

.page-banner {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    margin: 2rem;
    align-items: center;
}

.page-banner img {
    width: 100px;
    margin: 1rem;
}

/* MAIN NAV */
/* MAIN NAV */
/* MAIN NAV */
#hamburger {
    background-color: var(--nav-bkgd-color);
    ;
    border: none;
    color: #fff;
}

/* before the user clicks hamburger button open */
#hamburger::before {
    content: "☰";
    font-size: xx-large;
}

/* the 'close' button says this on it when the menu is toggled open */
#hamburger.open::before {
    content: "✖️";
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    background-color: var(--nav-menu-background);
}

nav ul {
    overflow: hidden;
    list-style-type: none;
    /* removes bullet styling on ul li items */
}

/* hamburger button clicked open */
nav.open {
    grid-template-rows: 1fr;
}

/* menu option responsiveness */
#main-menu,
#main-menu li,
#main-menu a {
    background-color: var(--nav-bkgd-color);
}

#main-menu li {
    padding: 1rem;
}

#main-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

#active {
    background-color: var(--bkgd-hover-color);
}

#main-menu a:visited {
    text-decoration: none;
    font-weight: 200;
}

#main-menu a:hover {
    font-style: italic;
}

/* wayfinding symbol to show the current page */
.active::after {
    content: " 📍";
}

main {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* MEMBER CARDS */
/* MEMBER CARDS */
/* MEMBER CARDS */
/* styling buttons for making cards appear in a table/grid or list */
#cards-grid,
#cards-list {
    border: solid var(--secondary-color);
    border-radius: 1rem;
    width: 4rem;
    height: 2rem;
}

/* styling for when the buttons are toggled open */
#cards-grid.open,
#cards-list.open {
    background-color: var(--secondary-accent);
}

/* what happens specifically when the cards-list button is toggled open */
.members-list section {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1f 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.members-list h2 {
    font-family: var(--special-font);
}

.members-list img {
    display: none;
}


.cards-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 20px;
}

.cards-grid section,
.cards-grid section>* {
    background-color: var(--member-card-bkgd);
}

.cards-grid section {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    width: 420px;
    height: 280px;
    border: solid black;
    border-radius: 1rem;
    margin: 5px;
    padding-left: 15px;
}

.cards-grid section h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    font-family: var(--special-font);
}

.cards-grid section img {
    grid-column: 1/2;
    grid-row: 2/5;
    border-radius: 1rem;
}



/* FOOTER */
footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 16px;
    padding: 10px;
}

#lastModified {
    text-align: left;
}

/* MEDIA QUERIES */
/* SMALL SCREENS AND LAPTOPS */
@media (min-width: 768px) {
    .page-banner {
        text-align: center;
        font-size: larger;
    }

    .page-banner img {
        width: 200px;
    }

    nav {
        grid-template-rows: 1fr;
    }

    #hamburger {
        display: none;
    }

    #main-menu {
        display: grid;
        grid-auto-flow: column;
    }

    #main-menu li {
        justify-content: space-evenly;
        padding: .5rem;
        font-size: larger;
    }

}