@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Silkscreen&display=swap');

/* link to coolors page: https://coolors.co/ffa630-d7e8ba-4da1a9-2e5077-611c35 */
:root {
    --background-color: #e8eedd;
    --header-font: "Silkscreen";
    --header-font-color: #611c35;
    --main-font: "Quicksand";
    --main-font-color: #2e5077;
    --nav-menu-background: #ffa630;
    --border-color: #611c35;
    --special-background-color: #4da1a9;
    --special-background-font-color: #fff;
}

header {
    font-family: var(--main-font);
}

a:link {
    color: var(--main-font-color);
    text-decoration: none;
}

a:visited {
    color: var(--special-background-color);
}

a:hover {
    font-family: var(--header-font);
    color: var(--header-font-color);
}

.page-banner {
    background-color: var(--special-background-color);
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
}

.page-banner h1 {
    margin-top: 2.2rem;
    /* brings it down to center vertically */
}

.page-banner img {
    border-radius: 5rem;
    padding: 5px;
    max-width: 200px;
}

ul {
    list-style-type: none;
    /* removes bullet styling on ul li items */
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

/* main nav menu */
/* hamburger menu */
#main-menu {
    /* display: none; */
    /* hide the menu behind the hamburger button in mobile view */
    background-color: var(--nav-menu-background);
}

#main-menu li {
    padding: 1rem;
}

#hamburger {
    background-color: var(--special-background-color);
    border: none;
    color: var(--header-font-color);
}

#hamburger::before {
    content: "☰";
    font-size: xx-large;
    /* before the user clicks it open */
}

/*.open a {
    display: block;
}*/

#hamburger.open::before {
    content: "✖️";
    /* the 'close' button says this on it when the menu is toggled open */
}

#main-menu.open {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--nav-menu-background);
}

#main-menu a:link {
    color: var(--main-font-color);
    text-decoration: none;
}

#main-menu a:visited {
    color: var(--special-background-color);
}

#main-menu a:hover {
    font-family: var(--header-font);
    color: var(--header-font-color);
    font-size: larger;
}

.active::before {
    content: "👀 ";
    font-size: larger;
    /* symbol to show on the menu what page the user is currently on, ie: wayfinding symbol */
}

body {
    background-color: var(--background-color);
}

main {
    font-family: var(--main-font);
}

.course-work h2,
.certificate h2 {
    padding: 13.5px;
}

/* place div */
.place {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 2fr;
    justify-items: center;

}

.place h2 {
    width: 100%;
    padding-top: 9px;
    padding-bottom: 4px;
    /* centers the text vertically */
}

.place figure {
    max-width: 200px;
}

.place img {
    max-width: 200px;
}

.place figcaption {
    text-align: center;
    font-size: smaller;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    background-color: var(--special-background-color);
    font-family: var(--header-font);
    color: var(--header-font-color);
    align-items: center;
    text-align: center;
    padding: 3px;
}

p {
    font-family: var(--main-font);
    color: var(--main-font-color);
}

.certificate {
    justify-content: space-evenly;
    align-self: center;
}

.certificate-buttons {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    background-color: var(--nav-menu-background);
    padding: 2rem;
}

div.course-cards {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
    align-items: center;
}

.course-card {
    font-family: var(--main-font);
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 100px;
}

.course-card.completed {
    background-color: var(--special-background-font-color);
}

/* certificate section */
/* button toggles */
/* all courses button */
#all,
#cse,
#wdd {
    border: 1px solid var(--border-color);
    border-radius: .3rem;
}

#all.open,
#cse.open,
#wdd.open {
    font-family: var(--header-font);
    background-color: var(--nav-menu-background);
}

.course-cards.open {
    /* what it looks like all the time anyways */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-evenly;
}

/* footer */
footer {
    display: grid;
    justify-content: center;
    background-color: var(--special-background-color);
}

footer p {
    color: var(--header-font-color);
}

/* bigger screen */
@media (min-width: 780px) {
    .page-banner {
        justify-content: space-around;
    }

    .page-banner h1 {
        margin-top: 3rem;
        /* brings name down to center vertically */
    }

    /* main nav */
    nav {
        grid-template-rows: 1fr;
    }

    #hamburger {
        display: none;
    }

    #main-menu {
        display: flex;
        justify-content: space-evenly;
        padding: 1rem;
        background-color: var(--nav-menu-background);
    }

    #main-menu ul {
        font-family: var(--main-font);
        display: grid;
        grid-auto-flow: column;
    }

    #main-menu li {
        justify-content: space-evenly;
        padding: 1rem;
        background-color: var(--nav-menu-background);
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main .course-work {
        grid-column: 1 / 2;
        grid-row: 1/2;


    }

    main .place {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    main .certificate {
        grid-column: 1 / 3;
        grid-row: 2/3;
    }

}